<div class="login-container mt-5">
    <form *ngIf="showForm && formLogin" [formGroup]="formLogin" class="form-login">
        <div class="mb-3">
            <label for="correo" class="form-label">Ingrese Correo</label>
            <input type="email" formControlName="Email" class="form-control" [class.is-invalid]="invalidLogin('Email')" />
        </div>
        <div class="mb-3">
            <label for="contraseña" class="form-label">Contraseña</label>
            <input type="password" formControlName="Password" class="form-control" [class.is-invalid]="invalidLogin('Password')" />
        </div>
        <button type="button" (click)="onLogin()" class="btn btn-danger">INGRESAR</button>
    </form>

    <form *ngIf="!showForm && formCreateClient" [formGroup]="formCreateClient" class="form-register">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" formControlName="FirstName" class="form-control" [class.is-invalid]="invalidCreateCliente('FirstName')" />
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" formControlName="LastName" class="form-control" [class.is-invalid]="invalidCreateCliente('LastName')" />
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" formControlName="Email" class="form-control" [class.is-invalid]="invalidCreateCliente('Email')" />
        </div>
        <div class="mb-3">
            <label for="contraseña" class="form-label">Contraseña</label>
            <input type="password" formControlName="Password" class="form-control" [class.is-invalid]="invalidCreateCliente('Password')" />
        </div>
        <button type="button" (click)="onCreateClient()" class="btn btn-danger">REGISTRAR</button>
    </form>
</div>